@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Doto:wght@100..900&family=Kranky&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Doto:wght@100..900&family=Kranky&family=Merienda&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
